{% extends 'layout.html' %}
{% block content %}
  <div style="border: 2px solid orange; padding: 10px;">

  {%- macro recPrint(comList, level=0) -%}
    {%- if comList | length > 0 -%}
      {%- for comment in comList %}
        {% if level == 0 -%}
	  {% set border = '' %}
	{%- else -%}
	  {% set border = 'border-left ' %}
        {%- endif %}
  {{ '  ' * (level + 1) }}<div class="container {{ border }}m-2">
  {{ '  ' * (level + 2) + comment.content }}
        {{ recPrint(comment.replies, level + 1) }}
  {{ '  ' * (level + 1) }}</div>
      {% endfor -%}
    {%- endif -%}
  {%- endmacro -%}

  {{ recPrint(data) }}

  </div>
{% endblock content %}
